* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 100%;
  box-sizing: border-box;
}

.header-section {
  background: linear-gradient(150deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  width: 100%;
  padding-top: 5%;
  padding-bottom: 30%;
  border-radius: 0 0 0 6rem;
}

.background-img-cont {
  background-image: url("images/bg-pattern-intro.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.header-flex {
  display: flex;
  width: 100%;
  padding-bottom: 10%;
}

.logo-img {
  width: 20%;
  display: block;
  padding-top: 6%;
  margin-left: 5%;
}

.toggle-on-cont {
  text-align: right;
  padding-top: 7%;
  margin-left: 54%;
  width: 20%;
}

.toggle-off-cont {
  text-align: right;
  padding-top: 6%;
  visibility: hidden;
}

.close-icon {
  cursor: pointer;
  background: transparent;
  border-width: 0;
}

.toggle-on {
  cursor: pointer;
  background: transparent;
  border-width: 0; 
}

.toggle-on:hover {
  opacity: 0.5;
}

.toggle-off {
  cursor: pointer;
  background: transparent;
  border-width: 0;
}

.toggle-off:hover {
  opacity: 0.5;
}

.menu-container {
  font-family: 'Overpass', sans-serif;
  font-size: 2rem;
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 5%;
  visibility: hidden;
}

.press {
  visibility: visible;
}

.press2 {
  visibility: visible;
  position: absolute;
  z-index: 100;
  right: 9%;
}

.press3 {
  visibility: hidden;
}

.product-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  padding-top: 10%;
}

#product-btn {
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: 600;
  margin-bottom: 5%;
  color: hsl(208, 49%, 24%);
}

#open-arrow-product {
  transition: 0.2s ease-out;
}

#product-links {
  background-color: hsl(0, 0%, 92%);
  border-radius: 0.5rem;
  margin-bottom: 10%;
  display: none;
}

.product-section a {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: hsl(207, 13%, 34%);
  font-size: 1.2rem;
  display: list-item;
  list-style: none;
  padding: 5% 0;
  width: 40%;
}

.company-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

#company-btn {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  padding-bottom: 5%;
  margin: 0 auto;
}

#open-arrow-company {
  transition: 0.2s ease-in-out;
}

#company-links {
  background-color: hsl(0, 0%, 92%);
  border-radius: 0.5rem;
  margin-bottom: 10%;
  display: none;
}

.company-section a {
  text-decoration: none;
  color: hsl(207, 13%, 34%);
  font-size: 1.2rem;
  padding: 5% 0;
  display: list-item;
  list-style: none;
  width: 40%;
  margin: 0 auto;
}

.connect-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600; 
  border-bottom: 0.1rem hsl(0, 0%, 92%) solid;
}

#connect-btn {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-weight: 600;
  padding-bottom: 10%;
  color: hsl(208, 49%, 24%);
  margin: 0 auto;
}

#open-arrow-connect {
  transition: 0.2s ease-in-out;
}

#connect-links {
  background-color: hsl(0, 0%, 92%);
  border-radius: 0.5rem;
  display: none;
  margin-bottom: 5%;
}

.connect-section a {
  text-decoration: none;
  color: hsl(207, 13%, 34%);
  font-size: 1.2rem;
  display: list-item;
  list-style: none;
  padding: 5% 0;
  margin: 0 auto;
  width: 40%;
}

.login-signup-buttons {
  text-align: center;
}

.login-btn {
  width: 40%;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  background: transparent;
  border-width: 0;
  font-size: 1.2rem;
  color: hsl(208, 49%, 24%);
  margin-top: 10%;
  cursor: pointer;
}

.signup-btn {
  width: 40%;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  background: linear-gradient(150deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  padding: 3%;
  color: hsl(0, 0%, 100%);
  border-width: 0;
  border-radius: 2rem;
  margin: 5% 0 8% 0;
  cursor: pointer;
}

.headers {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20%;
}

h1 {
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 2.1rem;
  font-weight: 600;
  padding-bottom: 10%;
}

h2 {
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
}

.sub-header-btn {
  text-align: center;
  padding-bottom: 5%;
}

.free-btn {
  font-family: 'Ubuntu', sans-serif;
  background: hsl(0, 0%, 100%);
  border-width: 0;
  padding: 3%;
  border-radius: 2rem;
  font-weight: 700;
  color: hsl(356, 100%, 66%);
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

.learn-more-btn {
  font-family: 'Ubuntu', sans-serif;
  padding: 3%;
  border-radius: 2rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  background: transparent;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}