* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

main {
  max-width: 100%;
  box-sizing: border-box;
}

.header-section {
  background: linear-gradient(150deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  width: 100%;
  padding-top: 5%;
  padding-bottom: 30%;
  border-radius: 0 0 0 6rem;
}

.background-img-cont {
  background-image: url("images/bg-pattern-intro.svg");
  background-size: 350% 350%;
  background-repeat: no-repeat;
  background-position: 32% 35%;
}

.header-flex {
  display: flex;
  width: 100%;
  padding-bottom: 10%;
}

.logo-img {
  width: 20%;
  display: block;
  padding-top: 6%;
  margin-left: 5%;
}

.toggle-on-cont {
  text-align: right;
  padding-top: 7%;
  margin-left: 54%;
  width: 20%;
}

.toggle-off-cont {
  text-align: right;
  padding-top: 6%;
  visibility: hidden;
}

.close-icon {
  cursor: pointer;
  background: transparent;
  border-width: 0;
}

.toggle-on {
  cursor: pointer;
  background: transparent;
  border-width: 0; 
}

.toggle-on:hover {
  opacity: 0.5;
}

.toggle-off {
  cursor: pointer;
  background: transparent;
  border-width: 0;
}

.toggle-off:hover {
  opacity: 0.5;
}

.menu-container {
  font-family: 'Overpass', sans-serif;
  font-size: 2rem;
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 5%;
  visibility: hidden;
}

.press {
  visibility: visible;
}

.press2 {
  visibility: visible;
  position: absolute;
  z-index: 100;
  right: 9%;
}

.press3 {
  visibility: hidden;
}

.product-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  padding-top: 10%;
}

#product-btn {
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: 600;
  margin-bottom: 5%;
  color: hsl(208, 49%, 24%);
}

#open-arrow-product {
  transition: 0.2s ease-out;
}

#product-links {
  background-color: hsl(0, 0%, 92%);
  border-radius: 0.5rem;
  margin-bottom: 10%;
  display: none;
}

.product-section a {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: hsl(207, 13%, 34%);
  font-size: 1.2rem;
  display: list-item;
  list-style: none;
  padding: 5% 0;
  width: 40%;
}

.company-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

#company-btn {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  padding-bottom: 5%;
  margin: 0 auto;
}

#open-arrow-company {
  transition: 0.2s ease-in-out;
}

#company-links {
  background-color: hsl(0, 0%, 92%);
  border-radius: 0.5rem;
  margin-bottom: 10%;
  display: none;
}

.company-section a {
  text-decoration: none;
  color: hsl(207, 13%, 34%);
  font-size: 1.2rem;
  padding: 5% 0;
  display: list-item;
  list-style: none;
  width: 40%;
  margin: 0 auto;
}

.connect-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600; 
  border-bottom: 0.1rem hsl(0, 0%, 92%) solid;
}

#connect-btn {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-weight: 600;
  padding-bottom: 10%;
  color: hsl(208, 49%, 24%);
  margin: 0 auto;
}

#open-arrow-connect {
  transition: 0.2s ease-in-out;
}

#connect-links {
  background-color: hsl(0, 0%, 92%);
  border-radius: 0.5rem;
  display: none;
  margin-bottom: 5%;
}

.connect-section a {
  text-decoration: none;
  color: hsl(207, 13%, 34%);
  font-size: 1.2rem;
  display: list-item;
  list-style: none;
  padding: 5% 0;
  margin: 0 auto;
  width: 40%;
}

.login-signup-buttons {
  text-align: center;
}

.login-btn {
  width: 40%;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  background: transparent;
  border-width: 0;
  font-size: 1.2rem;
  color: hsl(208, 49%, 24%);
  margin-top: 10%;
  cursor: pointer;
}

.signup-btn {
  width: 40%;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  background: linear-gradient(150deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  padding: 3%;
  color: hsl(0, 0%, 100%);
  border-width: 0;
  border-radius: 2rem;
  margin: 5% 0 8% 0;
  cursor: pointer;
}

.headers {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20%;
}

h1 {
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 2.1rem;
  font-weight: 600;
  padding-bottom: 10%;
  padding-top: 20%;
}

.header-h2 {
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
}

.sub-header-btn {
  text-align: center;
  padding-bottom: 20%;
}

.free-btn {
  font-family: 'Ubuntu', sans-serif;
  background: hsl(0, 0%, 100%);
  border-width: 0;
  padding: 3%;
  border-radius: 2rem;
  font-weight: 700;
  color: hsl(356, 100%, 66%);
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

.learn-more-btn {
  font-family: 'Ubuntu', sans-serif;
  padding: 3%;
  border-radius: 2rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  background: transparent;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

.future-design-section {
  padding-top: 25%;
}

.first-future-h2 {
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 1.6rem;
}

.editor-img-mobile {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 15%;
  padding-bottom: 15%;
}

.editor-img-desktop {
  display: none;
}

.editor-h2 {
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 1.6rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.editor-p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: 'Overpass', sans-serif;
  color: hsl(207, 13%, 34%);
  padding-bottom: 10%;
}

.robust-h2 {
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 1.6rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.robust-p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: 'Overpass', sans-serif;
  color: hsl(207, 13%, 34%);
  padding-bottom: 20%;
}

.phones-section {
  background-image: url(images/bg-pattern-circles.svg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-clip: content-box;
    background-color: hsl(237, 23%, 25%);
  padding-top: 35%;
  background-position: center;
  border-radius: 0 0 0 5rem;
}

.invis {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  visibility: hidden;
  position: fixed;
}

.phones-img {
  width: 100%;
  margin-top: -45%;
}

.phones-h2 {
  position: relative;
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 6%;
}

.phones-p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  line-height: 1.6rem;
  padding-bottom: 20%;
}

.laptop-img {
  width: 100%;
  padding-top: 10%;
}

.laptop-h2-free {
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 1.6rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
  padding-top: 10%;
}

.laptop-p-free {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: 'Overpass', sans-serif;
  color: hsl(207, 13%, 34%);
  padding-bottom: 10%;
}

.laptop-h2-tooling {
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 1.6rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.laptop-p-tooling {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: 'Overpass', sans-serif;
  color: hsl(207, 13%, 34%);
  padding-bottom: 10%;
}

.footer-section {
  background-color: hsl(240, 10%, 16%);
  text-align: center;
  border-radius: 0 5rem 0 0;
  margin-top: 15%;
}

.logo-footer {
  width: 30%;
  display: block;
  margin: 0 auto;
  padding-top: 16%;
  padding-bottom: 5%;
}

.footer-product p, .footer-company p, .footer-connect p {
  color: hsl(0, 0%, 100%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  padding-bottom: 7%;
  padding-top: 10%;
  font-size: 1.2rem;
}

.footer-product ul li a, .footer-company ul li a, .footer-connect ul li a {
  list-style: none;
  text-decoration: none;
  color: hsl(240, 2%, 79%);
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.7rem;
  font-size: 1.2rem;
}



.attribution { 
  font-size: 11px; text-align: center; 
  padding-top: 10%;
  padding-bottom: 5%;
  color: hsl(0, 0%, 100%);
  font-family: 'Ubuntu', sans-serif;
}

.attribution a { 
  color: hsl(240, 2%, 79%);
  text-decoration: none; 
}