* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

main {
  max-width: 100%;
  box-sizing: border-box;
}

.header-section {
  background: linear-gradient(150deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  width: 100%;
  padding-top: 0;
  padding-bottom: 25%;
  border-radius: 0 0 0 6rem;
}

.background-img-cont {
  background-image: url("images/bg-pattern-intro.svg");
  background-size: 350% 350%;
  background-repeat: no-repeat;
  background-position: 32% 35%;
  padding-top: 5%;
  
}

.header-flex {
  display: flex;
  width: 100%;
  padding-bottom: 10%;
}

.logo-img {
  width: 20%;
  display: block;
  padding-top: 6%;
  margin-left: 5%;
}

.toggle-on-cont {
  text-align: right;
  padding-top: 7%;
  margin-left: 54%;
  width: 20%;
}

.toggle-off-cont {
  text-align: right;
  padding-top: 6%;
  visibility: hidden;
}

.close-icon {
  cursor: pointer;
  background: transparent;
  border-width: 0;
}

.toggle-on {
  cursor: pointer;
  background: transparent;
  border-width: 0; 
}

.toggle-on:hover {
  opacity: 0.5;
}

.toggle-off {
  cursor: pointer;
  background: transparent;
  border-width: 0;
}

.toggle-off:hover {
  opacity: 0.5;
}

.menu-container {
  font-family: 'Overpass', sans-serif;
  font-size: 2rem;
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 5%;
  visibility: hidden;
}

.press {
  visibility: visible;
}

.press2 {
  visibility: visible;
  position: absolute;
  z-index: 100;
  right: 9%;
}

.press3 {
  visibility: hidden;
}

.product-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  padding-top: 10%;
}

#product-btn {
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: 600;
  margin-bottom: 5%;
  color: hsl(208, 49%, 24%);
}

#open-arrow-product {
  transition: 0.2s ease-out;
}

#open-arrow-product2 {
  display: none;
}

#product-links {
  background-color: hsl(0, 0%, 92%);
  border-radius: 0.5rem;
  margin-bottom: 10%;
  display: none;
}

.product-section a {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: hsl(207, 13%, 34%);
  font-size: 1.2rem;
  display: list-item;
  list-style: none;
  padding: 5% 0;
  width: 40%;
}

.company-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

#company-btn {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  padding-bottom: 5%;
  margin: 0 auto;
}

#open-arrow-company {
  transition: 0.2s ease-in-out;
}

#open-arrow-company2 {
  display: none;
}

#company-links {
  background-color: hsl(0, 0%, 92%);
  border-radius: 0.5rem;
  margin-bottom: 10%;
  display: none;
}

.company-section a {
  text-decoration: none;
  color: hsl(207, 13%, 34%);
  font-size: 1.2rem;
  padding: 5% 0;
  display: list-item;
  list-style: none;
  width: 40%;
  margin: 0 auto;
}

.connect-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600; 
  border-bottom: 0.1rem hsl(0, 0%, 92%) solid;
}

#connect-btn {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-weight: 600;
  padding-bottom: 10%;
  color: hsl(208, 49%, 24%);
  margin: 0 auto;
}

#open-arrow-connect {
  transition: 0.2s ease-in-out;
}

#open-arrow-connect2 {
  display: none;
}

#connect-links {
  background-color: hsl(0, 0%, 92%);
  border-radius: 0.5rem;
  display: none;
  margin-bottom: 5%;
}

.connect-section a {
  text-decoration: none;
  color: hsl(207, 13%, 34%);
  font-size: 1.2rem;
  display: list-item;
  list-style: none;
  padding: 5% 0;
  margin: 0 auto;
  width: 40%;
}

.login-signup-buttons {
  text-align: center;
  padding-bottom: 10%;
}

.login-btn {
  width: 40%;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  background: transparent;
  border-width: 0;
  font-size: 1.2rem;
  color: hsl(208, 49%, 24%);
  margin-top: 10%;
  cursor: pointer;
}

.signup-btn {
  width: 40%;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  background: linear-gradient(150deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  padding: 3%;
  color: hsl(0, 0%, 100%);
  border-width: 0;
  border-radius: 2rem;
  margin: 5% 0 8% 0;
  cursor: pointer;
}

.headers {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20%;
}

h1 {
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 2.1rem;
  font-weight: 600;
  padding-bottom: 10%;
  padding-top: 20%;
}

.header-h2 {
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
}

.sub-header-btn {
  text-align: center;
  padding-bottom: 10%;
}

.free-btn {
  font-family: 'Ubuntu', sans-serif;
  background: hsl(0, 0%, 100%);
  border-width: 0;
  padding: 3%;
  border-radius: 2rem;
  font-weight: 700;
  color: hsl(356, 100%, 66%);
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.free-btn:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}

.learn-more-btn {
  font-family: 'Ubuntu', sans-serif;
  padding: 3%;
  border-radius: 2rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  background: transparent;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.learn-more-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
}

.future-design-section {
  padding-top: 25%;
}

.first-future-h2 {
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 1.6rem;
}

.editor-img-mobile {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 15%;
  padding-bottom: 15%;
}

.editor-img-desktop {
  display: none;
}

.editor-h2 {
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 1.6rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.editor-p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: 'Overpass', sans-serif;
  color: hsl(207, 13%, 34%);
  padding-bottom: 10%;
}

.robust-h2 {
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 1.6rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.robust-p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: 'Overpass', sans-serif;
  color: hsl(207, 13%, 34%);
  padding-bottom: 20%;
}

.phones-section {
  background-image: url(images/bg-pattern-circles.svg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-clip: content-box;
    background-color: hsl(237, 23%, 25%);
  padding-top: 35%;
  background-position: center;
  border-radius: 0 0 0 5rem;
}

.invis {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  visibility: hidden;
  position: fixed;
}

.phones-img {
  width: 100%;
  margin-top: -45%;
}

.phones-h2 {
  position: relative;
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 6%;
}

.phones-p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  line-height: 1.6rem;
  padding-bottom: 20%;
}

.laptop-img-mobile {
  width: 100%;
  padding-top: 10%;
}

.laptop-img-desktop {
  display: none;
}


.laptop-h2-free {
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 1.6rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
  padding-top: 10%;
}

.laptop-p-free {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: 'Overpass', sans-serif;
  color: hsl(207, 13%, 34%);
  padding-bottom: 10%;
}

.laptop-h2-tooling {
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 1.6rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.laptop-p-tooling {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: 'Overpass', sans-serif;
  color: hsl(207, 13%, 34%);
  padding-bottom: 10%;
}

.footer-section {
  background-color: hsl(240, 10%, 16%);
  text-align: center;
  border-radius: 0 5rem 0 0;
  margin-top: 15%;
}

.logo-footer {
  width: 30%;
  display: block;
  margin: 0 auto;
  padding-top: 16%;
  padding-bottom: 5%;
}

.footer-product p, .footer-company p, .footer-connect p {
  color: hsl(0, 0%, 100%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  padding-bottom: 7%;
  padding-top: 10%;
  font-size: 1.2rem;
}

.footer-product ul li , .footer-company ul li , .footer-connect ul li {
  padding-bottom: 3%;
}

.footer-product ul li a, .footer-company ul li a, .footer-connect ul li a {
  list-style: none;
  text-decoration: none;
  color: hsl(240, 2%, 79%);
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.7rem;
  font-size: 1.2rem;
  display: inline-block;
  padding-bottom: 0;
}


.footer-product ul li a:hover, .footer-company ul li a:hover, .footer-connect ul li a:hover {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: hsl(240, 2%, 79%);

}


.attribution { 
  font-size: 11px; text-align: center; 
  padding-top: 10%;
  padding-bottom: 5%;
  color: hsl(0, 0%, 100%);
  font-family: 'Ubuntu', sans-serif;
}

@media only screen and (min-width: 425px) {
  .press2 {
    right: 8%;
  }
}

@media only screen and (min-width: 500px) {
  .press2 {
    right: 7%;
  }
}

@media only screen and (min-width: 600px) {
  .press2 {
    right: 6%;
  }
}

@media only screen and (min-width: 700px) {
  .press2 {
    right: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .press2 {
    right: 4%;
  }
}

@media only screen and (min-width: 850px) {
  .press2 {
    right: 3.5%;
  }
}

@media only screen and (min-width: 1024px) {

  .header-section {
    background: linear-gradient(120deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 80%);
    padding-bottom: 0;
    padding-top: 0;
  }

  .background-img-cont {
    background-size: 200%;
    background-position: 30% 50%;
    padding-top: 3%;
    border-radius: 0 0 0 6rem;
  }

  .desktop-header {
    display: flex;
  }

  .logo-img {
    width: 8%;
    margin-left: 4%;
    margin-top: 2%;
    padding-top: 0;
  }

  .toggle-on-cont {
    display: none;
  }

  .toggle-off-cont {
    display: none;
  }

  .buttons {
    width: 100%;
    display: flex;
    margin-left: 10%;
    padding-top: 3%;
  }

  .menu-container {
    visibility: visible;
    position: absolute;
    display: flex;
    background: transparent;
    box-shadow: none;
    width: 90%;
  }

  .product-section {
    padding: 0;
    width: 25%;
    margin: 0;
  }

  #product-btn {
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 5%;
  }

  #product-btn:hover {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: hsl(0, 0%, 100%);
    opacity: 1;
  }

  #open-arrow-product {
    display: none;
  }

  #open-arrow-product2 {
    display: inline;
    transition: 0.2s ease-in-out;
  }

  #product-links {
    background: hsl(0, 0%, 100%);
    text-align: left;
    padding: 10% 0;
    width: 85%;
    margin: 0 auto;
    box-shadow: 3px 10px 13px rgba(0, 0, 0, 0.3);
  }

  .product-section a {
    text-align: left;
    width: 100%;
    padding: 5%;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif; 
  }

  .product-section a:hover {
    font-weight: 700;
  }

  .company-section {
    margin: 0;
    padding: 0;
    width: 25%;
  }

  .company-section a {
    text-align: left;
    width: 100%;
    padding: 5%;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
  }

  .company-section a:hover {
    font-weight: 700;
  }

  #company-btn {
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 5%;
    padding-bottom: 0;
  }

  #company-btn:hover {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: hsl(0, 0%, 100%);
    opacity: 1;
  }

  #company-links {
    background: hsl(0, 0%, 100%);
    text-align: left;
    padding: 10% 0;
    width: 75%;
    margin: 0 auto;
    box-shadow: 3px 10px 13px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
  }

  #open-arrow-company {
    display: none;
  }

  #open-arrow-company2 {
    display: inline;
    transition: 0.2s ease-in-out;
  }

  .connect-section {
    margin: 0;
    padding: 0;
    border-bottom: 0;
    width: 25%;
  }

  .connect-section a {
    text-align: left;
    width: 100%;
    font-weight: 300;
    padding: 5%;
    font-family: 'Ubuntu', sans-serif;
  }

  .connect-section a:hover {
    font-weight: 700;
  }

  #connect-btn {
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 5%;
    padding-bottom: 0;
  }

  #connect-btn:hover {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: hsl(0, 0%, 100%);
    opacity: 1;
  }

  #connect-links {
    background: hsl(0, 0%, 100%);
    text-align: left;
    padding: 10% 0%;
    width: 75%;
    margin: 0 auto;
    box-shadow: 3px 10px 13px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
  }

  #open-arrow-connect {
    display: none;
  }

  #open-arrow-connect2 {
    display: inline;
    transition: 0.2s ease-in-out;
  }

  .login-signup-buttons {
    width: 40%;
    display: inline-flex;
    text-align: right;
    margin-left: 0%;
    height: 100%;
    padding-top: 0.3%;
    margin-top: 0;
  }

  .login-btn {
    width: 60%;
    height: 100%;
    color: hsl(0, 0%, 86%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
  }

  .signup-btn {
    width: 60%;
    height: 100%;
    background: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
  }

  .signup-btn:hover {
    color: hsl(0, 0%, 100%);
    background: hsl(356, 100%, 75%);
  }

  .headers {
    width: 80%;
    padding-bottom: 5%;
  }

  h1 {
    font-size: 3rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 3%;
  }

  .sub-header-btn {
    padding-bottom: 10%;
  }

  .free-btn {
    width: 12%;
    padding: 1.5%;
  }

  .learn-more-btn {
    width: 12%;
    padding: 1.5%;
  }

  .future-design-section {
    padding-top: 10%;
  }

  .first-future-h2 {
    position: absolute;
    right: 0;
    left: 0;
  }

  .future-design-flex {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .future-design-images {
    width: 35%;
    padding-top: 3%;
  }

  .editor-img-mobile {
    display: none;
  }

  .editor-img-desktop {
    display: block;
    width: 120%;
    height: 90%;
    object-fit: cover;
    margin-left: -20%;
  }

  .future-design-text {
    width: 50%;
    padding-left: 2%;
    padding-top: 10%;
    margin-right: auto;
  }

  .editor-h2, .robust-h2 {
    width: 80%;
    text-align: left;
  }

  .editor-p, .robust-p {
    text-align: left;
  }

  .phones-section {
    display: flex;
    background-image: none;
    padding-top: 5%;
    border-radius: 0 7rem 0 5rem;
    background-image: url(images/bg-pattern-circles.svg);
    background-position: left bottom;
    background-size: 55% 150%;
  }

  .phones {
    width: 60%;
  }

  .phones-img {
    margin-top: -10%;
    margin-bottom: -16%;
  }

  .phones-text {
    width: 80%;
    padding-top: 5%;
  }

  .phones-h2 {
    width: 90%;
    text-align: left;
    margin: 0;
  }

  .phones-p {
    width: 80%;
    text-align: left;
    margin: 0;
  }

  .free-open-section {
    display: flex;
    padding-top: 5%;
  }

  .laptop-images {
    width: 35%;
  }

  .laptop-img-mobile {
    display: none;
  }

  .laptop-img-desktop {
    display: block;
    width: 150%;
    height: 110%;
    object-fit: cover;
    margin-left: -50%;
  }

  .laptop-text {
    width: 70%;
  }

  .laptop-h2-free {
    text-align: left;
    margin: 0 0 0 10%;
  }

  .laptop-p-free {
    text-align: left;
    margin: 0 0 0 10%;
    width: 70%;
  }

  .laptop-h2-tooling {
    text-align: left;
    margin: 0 0 0 10%;
  }

  .laptop-p-tooling {
    text-align: left;
    margin: 0 0 0 10%;
    width: 70%;
  }

  .footer-flex {
    display: flex;
    width: 80%;
    margin: 0 0 0 3%;
  }

  .logo-footer {
    width: 10%;
    margin: 0 5% 0 10%;
    padding-top: 8%;
    padding-bottom: 25%;
  }

  .footer-product {
    width: 30%;
    padding-top: 6%;
    padding-left: 3%;
    text-align: left;
  }

  .footer-product p {
    text-align: left;
    padding-bottom: 10%;
  }

  .footer-product li {
    list-style: none;
  }

  .footer-company {
    width: 30%;
    padding-top: 6%;
    padding-left: 3%;
    text-align: left;
  }

  .footer-company p {
    padding-bottom: 10%;
  }

  .footer-company li {
    list-style: none;   
  }

  .footer-connect {
    width: 30%;
    padding-top: 6%;
    text-align: left;
  }

  .footer-connect p {
    padding-bottom: 10%;
  }

  .footer-connect li {
    list-style: none;  
  }

  .attribution { 
    color: hsl(240, 2%, 79%);
    text-decoration: none; 
    padding-top: 3%;
  }
}

@media only screen and (min-width: 1224px) {

  .first-future-h2 {
    font-size: 2.2rem;
  }

  .editor-h2, .robust-h2 {
    font-size: 2rem;
  }

  .editor-p, .robust-p {
    font-size: 1.2rem;
  }

  .phones-h2 {
    font-size: 2.4rem;
  }

  .phones-p {
    font-size: 1.2rem;
  }

  .laptop-h2-free, .laptop-h2-tooling {
    font-size: 2.2rem;
  }

  .laptop-p-free, .laptop-p-tooling {
    font-size: 1.2rem;
  }

  .future-design-flex {
    width: 100%;
  }

  .future-design-images {
    width: 40%;
    padding-top: 3%;
  }
  .editor-img-desktop {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.attribution a { 
  color: hsl(240, 2%, 79%);
  text-decoration: none; 
}

.attribution a:hover {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: hsl(240, 2%, 79%);
}